@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #1d2671 !important;
}
.bg-success {
  background-color: #9473d2 !important;
}
.bg-info {
  background-color: #7237a2 !important;
}
.bg-warning {
  background-color: #f8f9c4 !important;
}
.bg-danger {
  background-color: #6441a5 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #1d2671;
  border-color: #1d2671;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #1d2671;
  border-color: #1d2671;
}
.btn-primary:before {
  background-color: #0d1234;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d1234 !important;
  border-color: #0d1234 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #262837;
  border-color: #262837;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #262837;
  border-color: #262837;
}
.btn-secondary:before {
  background-color: #07070a;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #07070a !important;
  border-color: #07070a !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #7237a2;
  border-color: #7237a2;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #7237a2;
  border-color: #7237a2;
}
.btn-info:before {
  background-color: #4a2469;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4a2469 !important;
  border-color: #4a2469 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #9473d2;
  border-color: #9473d2;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #9473d2;
  border-color: #9473d2;
}
.btn-success:before {
  background-color: #693cbc;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #693cbc !important;
  border-color: #693cbc !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f8f9c4;
  border-color: #f8f9c4;
  color: #aaac12;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #aaac12;
  background-color: #f8f9c4;
  border-color: #f8f9c4;
}
.btn-warning:before {
  background-color: #f0f27f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #aaac12 !important;
  background-color: #f0f27f !important;
  border-color: #f0f27f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #6441a5;
  border-color: #6441a5;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #6441a5;
  border-color: #6441a5;
}
.btn-danger:before {
  background-color: #432b6e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #432b6e !important;
  border-color: #432b6e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white:before {
  background-color: #d9d9d9;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black:before {
  background-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #080b20;
  color: #080b20;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #1d2671;
}
.btn-primary-outline:before {
  background-color: #1d2671;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #1d2671 !important;
  border-color: #1d2671 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #262837;
}
.btn-secondary-outline:before {
  background-color: #262837;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #262837 !important;
  border-color: #262837 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3c1d56;
  color: #3c1d56;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #7237a2;
}
.btn-info-outline:before {
  background-color: #7237a2;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #5e36a9;
  color: #5e36a9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #9473d2;
}
.btn-success-outline:before {
  background-color: #9473d2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #edf067;
  color: #edf067;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #aaac12;
  border-color: #f8f9c4;
}
.btn-warning-outline:before {
  background-color: #f8f9c4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #38245c;
  color: #38245c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  border-color: #6441a5;
}
.btn-danger-outline:before {
  background-color: #6441a5;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #6441a5 !important;
  border-color: #6441a5 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  /*width: 0;
        top:0;
        left: 0;
        bottom: 0;
        transition: width 0.3s ease-in-out;*/
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1d2671;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #1d2671 !important;
}
.text-secondary {
  color: #262837 !important;
}
.text-success {
  color: #9473d2 !important;
}
.text-info {
  color: #7237a2 !important;
}
.text-warning {
  color: #f8f9c4 !important;
}
.text-danger {
  color: #6441a5 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #080b20 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5e36a9 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3c1d56 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #edf067 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #38245c !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #7237a2;
}
.alert-warning {
  background-color: #f8f9c4;
}
.alert-danger {
  background-color: #6441a5;
}
.mbr-gallery-filter li.active .btn {
  background-color: #1d2671;
  border-color: #1d2671;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #1d2671;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #404fce;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b083d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #a992d4;
}
/* Scroll to top button*/
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
  font-weight: 300;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.696rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #1d2671;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #1d2671;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #1d2671;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #1d2671;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #1d2671;
}
/* Headers*/
/* Content */
.content11 .counter-container div .counter {
  background: #1d2671;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.696rem;
}
.display-7 {
  font-weight: 300;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qxgzXDgDC9 .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qxgzXDgDC9 .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qxgzXDgDC9 a {
  font-style: normal;
}
.cid-qxgzXDgDC9 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qxgzXDgDC9 .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qxgzXDgDC9 .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qxgzXDgDC9 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qxgzXDgDC9 .menu-logo {
  margin-right: auto;
}
.cid-qxgzXDgDC9 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qxgzXDgDC9 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qxgzXDgDC9 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qxgzXDgDC9 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qxgzXDgDC9 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qxgzXDgDC9 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qxgzXDgDC9 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qxgzXDgDC9 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qxgzXDgDC9 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qxgzXDgDC9 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qxgzXDgDC9 .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qxgzXDgDC9 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qxgzXDgDC9 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qxgzXDgDC9 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qxgzXDgDC9 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qxgzXDgDC9 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qxgzXDgDC9 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qxgzXDgDC9 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qxgzXDgDC9 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qxgzXDgDC9 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qxgzXDgDC9 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qxgzXDgDC9 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qxgzXDgDC9 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qxgzXDgDC9 button.navbar-toggler:focus {
  outline: none;
}
.cid-qxgzXDgDC9 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-qxgzXDgDC9 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qxgzXDgDC9 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qxgzXDgDC9 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qxgzXDgDC9 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qxgzXDgDC9 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxgzXDgDC9 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qxgzXDgDC9 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qxgzXDgDC9 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxgzXDgDC9 .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qxgzXDgDC9 .collapsed .btn {
  display: flex;
}
.cid-qxgzXDgDC9 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qxgzXDgDC9 .collapsed .navbar-collapse.collapsing,
.cid-qxgzXDgDC9 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qxgzXDgDC9 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qxgzXDgDC9 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qxgzXDgDC9 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qxgzXDgDC9 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qxgzXDgDC9 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-qxgzXDgDC9 .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-qxgzXDgDC9 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qxgzXDgDC9 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qxgzXDgDC9 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qxgzXDgDC9 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qxgzXDgDC9 .collapsed button.navbar-toggler {
  display: block;
}
.cid-qxgzXDgDC9 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qxgzXDgDC9 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qxgzXDgDC9 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qxgzXDgDC9 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qxgzXDgDC9 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qxgzXDgDC9 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qxgzXDgDC9.navbar-expand {
    flex-direction: column;
  }
  .cid-qxgzXDgDC9 img {
    height: 3.8rem !important;
  }
  .cid-qxgzXDgDC9 .btn {
    display: flex;
  }
  .cid-qxgzXDgDC9 button.navbar-toggler {
    display: block;
  }
  .cid-qxgzXDgDC9 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qxgzXDgDC9 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qxgzXDgDC9 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qxgzXDgDC9 .navbar-collapse.collapsing,
  .cid-qxgzXDgDC9 .navbar-collapse.show {
    display: block !important;
  }
  .cid-qxgzXDgDC9 .navbar-collapse.collapsing .navbar-nav,
  .cid-qxgzXDgDC9 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qxgzXDgDC9 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qxgzXDgDC9 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qxgzXDgDC9 .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-qxgzXDgDC9 .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxgzXDgDC9 .navbar-collapse.collapsing .navbar-buttons,
  .cid-qxgzXDgDC9 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qxgzXDgDC9 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qxgzXDgDC9 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxgzXDgDC9 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qxgzXDgDC9 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qxgzXDgDC9 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qxgzXDgDC9 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qxgzXDgDC9 .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qxgALALqM4 {
  background-image: url("../../../assets/images/fiiliskuva-1600x1000.jpg");
}
.cid-qxgALALqM4 .mbr-overlay {
  background: linear-gradient(90deg, #262837, #262837);
}
@media (min-width: 992px) {
  .cid-qxgALALqM4 .media-content {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
@media (max-width: 991px) {
  .cid-qxgALALqM4 {
    text-align: center !important;
  }
  .cid-qxgALALqM4 .mbr-text {
    text-align: center;
  }
}
.cid-qxgALALqM4 .media-container-row {
  justify-content: flex-start;
}
.cid-qxgFTrz4ac {
  background-image: url("../../../assets/images/mbr-1631x1080.jpg");
}
.cid-qxgFTrz4ac B {
  color: #262837;
}
.cid-qxgFTrz4ac H1 {
  color: #262837;
}
.cid-qxgFTrz4ac .mbr-text,
.cid-qxgFTrz4ac .mbr-section-btn {
  color: #262837;
}
.cid-qxgE0vr74y {
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-qxgE0vr74y .card {
  padding: 1rem 1rem 3rem 1rem;
}
.cid-qxgE0vr74y .card-img {
  padding: 0 0 2rem;
}
.cid-qxgE0vr74y .mbr-section-btn {
  margin-left: 0;
}
@media (min-width: 992px) {
  .cid-qxgE0vr74y .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .cid-qxgE0vr74y .card-title {
    text-align: center;
  }
  .cid-qxgE0vr74y p.mbr-text {
    text-align: center;
  }
}
.cid-qxgJWILVhp {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-qxgJWILVhp .card {
  padding: 1rem 1rem 3rem 1rem;
}
.cid-qxgJWILVhp .card-img {
  padding-bottom: 2rem;
}
.cid-qxgJWILVhp .mbr-text {
  color: #767676;
}
.cid-qxgJWILVhp span {
  font-size: 14px;
  color: #ffffff;
}
.cid-qxgJWILVhp .mbr-section-btn {
  margin-left: 0;
}
.cid-qxgJWILVhp .date span {
  display: inline-block;
  background-color: #262837;
  padding: 0.2rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-qxgJWILVhp .card-title {
    text-align: center;
  }
  .cid-qxgJWILVhp p.mbr-text,
  .cid-qxgJWILVhp p.date {
    text-align: center;
  }
}
.cid-qxgMzW0xI5 {
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qxgMzW0xI5 .content-slider {
  display: flex;
  justify-content: center;
}
.cid-qxgMzW0xI5 .modal-body .close {
  background: #1b1b1b;
}
.cid-qxgMzW0xI5 .modal-body .close span {
  font-style: normal;
}
.cid-qxgMzW0xI5 .carousel-inner > .active,
.cid-qxgMzW0xI5 .carousel-inner > .next,
.cid-qxgMzW0xI5 .carousel-inner > .prev {
  display: flex;
}
.cid-qxgMzW0xI5 .carousel-control .icon-next,
.cid-qxgMzW0xI5 .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-qxgMzW0xI5 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qxgMzW0xI5 .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-qxgMzW0xI5 .content-slider-wrap {
    width: 100%!important;
  }
}
.cid-qxgMzW0xI5 .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-qxgMzW0xI5 .boxed-slider > div {
  position: relative;
}
.cid-qxgMzW0xI5 .container img {
  width: 100%;
}
.cid-qxgMzW0xI5 .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-qxgMzW0xI5 .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-qxgMzW0xI5 .mbr-table-cell {
  padding: 0;
}
.cid-qxgMzW0xI5 .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-qxgMzW0xI5 .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-qxgMzW0xI5 .mbr-overlay {
  z-index: 1;
}
.cid-qxgMzW0xI5 .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-qxgMzW0xI5 .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-qxgMzW0xI5 .carousel-item .container {
    width: 100%;
  }
}
.cid-qxgMzW0xI5 .carousel-item-next.carousel-item-left,
.cid-qxgMzW0xI5 .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-qxgMzW0xI5 .active.carousel-item-right,
.cid-qxgMzW0xI5 .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-qxgMzW0xI5 .active.carousel-item-left,
.cid-qxgMzW0xI5 .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-qxgMzW0xI5 .mbr-slider .carousel-control {
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-qxgMzW0xI5 .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qxgMzW0xI5 .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qxgMzW0xI5 .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .cid-qxgMzW0xI5 .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-qxgMzW0xI5 .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-qxgMzW0xI5 .mbr-slider .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-qxgMzW0xI5 .mbr-slider .carousel-indicators li.active,
.cid-qxgMzW0xI5 .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-qxgMzW0xI5 .mbr-slider .carousel-indicators li::after,
.cid-qxgMzW0xI5 .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-qxgMzW0xI5 .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-qxgMzW0xI5 .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-qxgMzW0xI5 .mbr-slider > .container img {
  width: 100%;
}
.cid-qxgMzW0xI5 .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-qxgMzW0xI5 .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-qxgMzW0xI5 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-qxgMzW0xI5 .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-qxgMzW0xI5 .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-qxgMzW0xI5 .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-qxgMzW0xI5 .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-qxgMzW0xI5 .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-qxgMzW0xI5 .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-qxgMzW0xI5 .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-qxgMzW0xI5 .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-qxgMzW0xI5 .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-qxgMzW0xI5 .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-qxgMzW0xI5 .mbr-slider.slide .container {
  overflow: hidden;
  padding: 0;
}
.cid-qxgMzW0xI5 .carousel-inner {
  height: 100%;
}
.cid-qxgMzW0xI5 .slider-fullscreen-image {
  height: 100%;
  background: transparent !important;
}
.cid-qxgMzW0xI5 .image_wrapper {
  height: 700px;
  width: 100%;
  position: relative;
  display: inline-block;
}
.cid-qxgMzW0xI5 .image_wrapper img {
  width: auto !important;
  height: 100%;
}
.cid-qxgMzW0xI5 .carousel-item .container-slide {
  text-align: center;
}
.cid-qxgMzW0xI5 .content-slider-wrap {
  width: 99%;
}
.cid-qxgMUvAgm9 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #262837;
}
.cid-qxgMUvAgm9 p {
  text-align: center;
}
.cid-qxgMUvAgm9 .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qxgMUvAgm9 .btn-underline:hover {
  color: #505050;
}
.cid-qxgMUvAgm9 .btn-underline:before {
  background-color: #505050;
}
.cid-qxgMUvAgm9 .social-list a:focus {
  text-decoration: none;
}
.cid-qxgMUvAgm9 .text-copyright {
  width: 100%;
}
.cid-qxgMUvAgm9 .img-logo-footer {
  margin-right: 1rem;
  max-width: 5rem;
}
.cid-qxgMUvAgm9 .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
}
.cid-qxgMUvAgm9 .logo-footer {
  line-height: normal;
}
.cid-qxgMUvAgm9 .copyright {
  display: flex;
  align-items: center;
}
.cid-qxgMUvAgm9 .social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qxgMUvAgm9 .mbr-section-btn {
  font-size: 16px;
}
.cid-qxgMUvAgm9 .mbr-section-btn a {
  margin: 0 1rem 0.5rem;
}
